.logo {
    height: 80px;
    border-radius: 24px;
}

body {
    background: rgb(228, 217, 238) !important;
}

.card,
.navbar {
    background-color: rgb(138, 108, 167) !important;
}

.text-muted {
    color: black !important;
}